## Settings file was created by plugin Valheim Recycle v1.1.1
## Plugin GUID: org.lafchi.plugins.valheim_recycle

[General]

## The Recycle tab's position in the crafting menu after Upgrade. (Requires restart)
# Setting type: TabPositions
# Default value: Left
# Acceptable values: Left, Middle, Right
TabPosition = Left

## The amount of resources to return from recycling (0 to 1, where 1 returns 100% of the resources and 0 returns 0%)
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
ResourceMultiplier = 1

