## Settings file was created by plugin RememberIPDamnit v0.2
## Plugin GUID: Xenofell.RememberIPDamnit

[RememberIPDamnit]

# Setting type: String
# Default value: 
Address = 187.0.3.236:2456

# Setting type: String
# Default value: 
Password = gudebede

